.sidebar {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 18px;
    transition: width 0.3s;
    
    
}
.sidebar.open{
    width: 200px;
    background-color: #72A1A6;

}

.sidebar.closed {
    width: 50px;
    background-color: #72A1A6;
  

}
.sidebar.closed button {
    display: none;
   
}

.toggle-button {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #437373;
    color: white;
    border: none;
    cursor: pointer;
}

.side {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

button {
    margin: 5px 0;
    background: #437373;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background: #A9D4D9;
}
