.land {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 120px);
    width: 100vw;
    
}

.image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

}

.image img {
    max-width: 700px; 
    height: 400px; 
    object-fit: cover; 
    border-radius: 50px;
}


.login {
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    
}